.head {
    width: 100%;
    height: 95vh;
    background-color: rgb(251, 223, 66);

}

.head h2 {
    font-size: 35px;
    padding-left: 13%;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
}

.head h5 {
    padding-left: 10%;
    font-size: 15px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}

.arrow-img {
    margin-left: 37%;
    height: 35vh;
    width: 27%;
    margin-top: -50px;

}

.box-container1 {
    width: 27%;
    height: 24vh;
    border: 2px solid #ffff;
    margin-top: -130px;
    margin-left: 10%;

}

.box-2 {
    width: 100%;
    height: 4vh;
    background-color: #ffff;
}

.box-text {
    font-size: 15px;
    margin-top: -23px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.box-img-container {
    display: flex;
}

.box-img {
    width: 57%;
    border-radius: 50%;
    margin: 20px 20px;
}

.box-img-card p {
    font-size: 10px;
    margin-top: -10px;
    margin-left: -5px;
}

.plus {
    padding-top: 20px;
    font-size: 15px;
    margin-left: -30px;
}

.card-last-text {
    font-size: 15px;
    padding-top: 100px;
    padding-left: 72px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.hr-2 {
    width: 25%;
    margin-left: 11%;
    margin-top: 10px;
}

.form-container {
    width: 27%;
    height: 70vh;
    background-color: #edecec;
    float: right;
    margin-top: -420px;
    margin-right: 70px;
    border-radius: 10px;
    position: relative;
}

.form-container h2 {
    font-size: 17px;
    padding: 20px 43px;
    font-family: 'Poppins', sans-serif;
}

#inputfield1 {
    padding: 13px 30px;
    border: none;
    margin-left: 20px;
    position: absolute;
    box-shadow: none;
}

#gender {
    border: none;
    padding: 13px;
    margin-left: 22px;
    padding-right: 10px;
    font-size: 15px;
}

#inputfield2 {
    padding: 13px 75px;
    border: none;
    margin-left: 22px;
    margin-top: 20px;
    box-shadow: none;
}

.btn1 {
    padding: 13px 95px;
    border: none;
    margin-left: 13px;
    margin-top: 20px;
    box-shadow: none;
    background-color: rgb(255, 225, 56);
    cursor: pointer;
}

.btn1:hover {
    background-color: rgba(251, 223, 66, 0.866);
}

.heading-1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hr-1 {
    width: 40px;
    margin-top: -10px;
    padding-bottom: 30px;
}

.work-container {
    width: 100%;
    height: 80vh;
    background-color: #f4f4f4e2;
    margin-top: -70px;
    padding: 0px 10px;
}



.why-container {
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4e2;
    margin-bottom: 30px;
    margin-top: -20px;
}

.works-cards-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

.works-cards-container h1 {
    margin-top: 130px;
    font-size: 30px;
}


.work-img {
    width: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.works-cards h3 {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.works-cards p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.capture4 {
    width: 100%;
}

.capture-container {
    width: 100%;
    height: 60vh;
    margin-top: -20px;
    background-color: #f4f4f4e2;
}

.user-img {
    width: 9%;
    border-radius: 50%;
    margin-left: 8%;
    margin-top: 90px;
}

.user-name {
    font-size: 15px;
    margin-left: 80px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.user-info {
    font-size: 13px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.coma {
    width: 13%;
    margin-left: 22%;
    margin-top: -260px;
    position: absolute;
}

.comment {
    text-align: justify;
    margin-left: 29%;
    margin-top: -130px;
    font-family: 'Roboto', sans-serif;
}

.coma-down {
    width: 13%;
    float: right;
    margin-top: -20px;
    margin-right: 70px;
}

@media screen and (max-width: 600px) {
    .capture-container {
        width: 100%;
        height: 40vh;
        margin-top: -20px;
        background-color: #f4f4f4e2;
    }

    .user-img {
        width: 9%;
        border-radius: 50%;
        margin-left: 8%;
        margin-top: 50px;
    }

    .user-name {
        font-size: 12px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }

    .user-info {
        font-size: 10px;
        margin-left: 30px;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .comment {
        text-align: justify;
        margin-left: 29%;
        margin-top: -100px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding-right: 10px;
    }

    .coma {
        width: 13%;
        margin-left: 22%;
        margin-top: -160px;
        position: absolute;
    }

}


.heading-5 {
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'roboto', sans-serif;
    padding: 5px;
}

.accordion {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 20px;
    margin-top: 15px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: rgb(255, 225, 56);
}

.faq-container {
    width: 100%;
    height: 70vh;
    background-color: #f4f4f4e2;
    padding: 20px;
    margin-top: 20px;
}

.panel {
    padding: 30px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.panel p {
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 9px;
    color: #000000;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.head2-container {
    width: 100%;
    height: 9vh;
    background-color: rgb(240, 204, 2);
    margin-bottom: 30px;
  }
  
  .card-1 {
    margin-left: 3%;
    margin-top: -50px;
  
  }
  
  .card1-img {
    width: 40px;
    padding-top: 11px;
    margin-left: 30px;
  }
  
  .card-1 p {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 80px;
  
  }
  
  .card-2 {
    margin-left: 21%;
    margin-top: -49px;
  }
  
  .card-2 p {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 80px;
  
  }
  
  .card-3 {
    margin-left: 38%;
    margin-top: -50px;
  }
  
  .card-3 p {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 80px;
  
  }
  
  .card-4 {
    margin-left: 55%;
    margin-top: -52px;
  }
  
  .card-4 p {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 80px;
  
  }
  
  .card-5 {
    margin-left: 76%;
    margin-top: -48px;
  }
  
  .card-5 p {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 80px;
  
  }
  