*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.logo-container{
    height: 10vh;
    width: 100%;
    background-color: #F4F4F4;
}
.img1{
    height: 4vh;
    width: auto;
    margin:18px;
    margin-left: 35px;
}
.upper-container{
    background-color: #004CD2;
    width: 100%;
    height: 86vh;
}
.upper-line{
    padding-top: 60px;
    margin-left: 170px;
    color: #fff;
    font-size: 35px;
    
}
.first-line{
    padding-top: 4px;
    margin-left: 184px;
    color: #fff;
    font-size: 35px;
}
.container1{
    background-color: #06306D;
    width: 100%;
    height: 8vh;
}
.content-box p{
    color: #fff;
    font-size: 18px;
    margin-left: -780px;
    margin-top: 50px;
    
}

.head-container{
    color: #004CD2;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.box-heading{
    font-size: 15px;
   
}
.container100{
    height: 20vh;
    width: 27%;
    background-color:#004CD2;
    box-shadow: 1px 1px 1px 1.9px rgb(250, 248, 248);
    margin-top: 15px;
    margin-left: 170px;
}
.line1{
    margin-top: 8px;
}
.flex-container{
    display: flex;
    padding: 2px;
    
}
.img2{
    color: #fff;
    background-color: #fff;
    border-radius: 40px;
    height: 6vh;
    width: auto;
    margin-left: 35px;
}
.line1{
    margin-left: 33px;
    color: #fff;
}
.plus{
    color: #fff;
    margin-top: 50px;
}
.down-heading{
    margin-left: -770px;
    padding: 9px;
    color: #fff;
}
.form-box{
    height: 52vh;
    width: 26%;
    background-color: #edeff2;
    float: right;
    margin-top: -360px;
    margin-right: 210px;
    border-radius: 5px;
   
}
.form-heading{
    text-align: center;
    margin: 10px;
}
.form{
    text-align: center;
}
.enter input{
    width: 80%;
    height: 5vh;
    margin: 10px;
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 1px;
    font-family: Lato;
    appearance: none;
   
}
.container500{
    display:grid;
}
.toggler{
    height: 3vh;
    width: auto;
    border-radius: 30px;
    float: left;
    margin-top: 8px;
    margin-left: 80px;
}
.h1{
    float: right;
     color: grey;
     margin-right: 55px;
     margin-top:8px ;
}
.button{
    text-align: center;
}
button{
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    width: 80%;
    text-align: center;
    margin: 10px;
    background-color: #fda700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.5384616;
    font-weight: 700;
    letter-spacing: .08em;
    box-shadow: 0 2px 0 #a36b00;
    padding: 11px;
    border-radius: 2px;
    font-family: Lato;
}
.img0{
margin-left: 570px;
margin-top: 400px;

}
.number{
    float: right;
    margin-right: 240px;
    margin-top: -400px;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
}
.rating-star-container{

   width: 9%;
   height: 3vh;
   margin-top: 50px;
   margin-left: 1040px;
}
.star{
    display: flex;
  
}
.star1{
    height: 3vh;
    width: auto;
    margin: 2px;
    
}
.review{
    margin-right:320px;
    float: right;
    color: #fff;
    justify-content: center;
    padding: 10px;
}
.p11{
 margin-left: 50px;
}
.p12{
    margin-left: -15px;
    margin-top: -10px;
}
.inside{
    display: flex;
    justify-content: space-around;
}
.img301{
    height: 8vh;
    width: auto;
}
.flex1{
    display: flex;
}
.flex2{
    display: flex;
}
.flex3{
    display: flex;
}
.flex4{
    display: flex;
}
.flex5{
    display: flex;
}
.block2{
    margin: 10px;
    color: #fff;
}